<!DOCTYPE html>
<html>
<head>
    <title>Create Movie</title>
    <h2>Create Movie</h2>
	<meta charset="utf-8" />
</head>
<body>
    <div>
        <label>Title</label>
        <input type="text" />
    </div>
    <div>
        <label>Description</label>
        <input type="text" />
    </div>
    <div>
        <label>Director</label>
        <input type="text" />
    </div>
    <div>
        <label>Release Year</label>
        <input type="text" />
    </div>
    <div>
        <label>Rating</label>
        <input type="text" />
    </div>
    <div>
        <label>Language</label>
        <input type="text" />
    </div>
    <h3>characters</h3>
    <div>
        <label>Character</label>
        <input type="text" />
    </div>
    <div>
        <label>Actor</label>
        <input type="text" />
        <div>
            <input type="button" value="Add" />
        </div>
    </div>
    <div>
        <input type="button" value="Save"/>
    </div>
</body>
</html>
